*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Gabarito", sans-serif;}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    background-color: white;

    top: 0;
    z-index: 1;
    
    

}

.navbar-section__1__title{
    color: purple;
}
.navbar-section__2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    
}
.mylearning{
    position: relative;
    
    
}
.mylearning_popup{
    background-color: goldenrod;
    height: fit-content;
    border: solid black 1px;
    color: black;
    padding: 20px;
    position: absolute;
    width: 200px;
    margin-top: 15px;
    display: none;
    right: 0;
    border-radius: 10px;
    
    
     


}
.mylearning:hover .mylearning_popup{
    display: block;

}



.navbar-section__2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    

}
.navbar-section__2 input:focus{
    outline: none;
}
.navbar-section__3{
    display: flex;
    gap: 10px;
    
    
}
.navbar-section__4{
    display: none;
}
.catagories{
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    padding: 10px;
    
    
}
.catagories p{
    color: white;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    border: solid black 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.catagories p:hover{
    color: blueviolet;
    border: solid black 1px;
    background-color: transparent;
    
}
.sale-image img{
    width: 100%;
    
}
.sale-image{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
position: relative;}
.sale-image__1{
    position: absolute;
    background-color: aqua;
    top: 40%;
    left: 20%;
    padding: 40px;
    border-radius: 10px;
    animation-name: identifier;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

   



}
@keyframes identifier {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        text-replace: scale(1);

    }

    
}

    

.recommended{
    padding: 10px;
}
.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    
}
.recommended_container{
    display: flex;
   
    justify-content: space-around;
    flex-wrap: wrap;
    

}
.course-card img{
    width: 100%;
    height: 150px;

}
.topics{
    padding: 10px;
}
.topics_container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
   
}
.topics_container p{
    border: solid black 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
  

}
.footer_one{
    padding: 10px;
    background-color: black;
    display: flex;
    color: white;
    gap: 20px;
    
    
}
.footer_one__s1 p{
    margin: 20px;
}

.footer_one__s2 p{
    margin: 20px;
}
footer{
    color: white;
    background-color: black;
}
.footer_one__s3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:600px)  {
    body{
        font-size: 10px;
    }
    .course-card{
        flex-basis: 40%;
        
    }
    .course-card img{
        height: 60%;
    }
    .catagories{
        display: none;
    }
    .navbar-section__2,.navbar-section__3{
        display: none;
    }
    .navbar-section__4{
        display: block;
        margin: 5px;
    }
    .sale-image__1{
        width: fit-content;
        padding: 10px;
        left: 5%;
        top: 30%;
    }
}



